.jumbotron {
  background: rgb(230, 26, 36);
  border-bottom: solid black 30px;
  border-radius: 0;
  position: relative;
  height: 400px;
}

@media (min-width: 0) {
  .jumbotron {
    padding: 0 !important;
  }
}

.display-4,
.lead,
.home-text {
  color: white;
  font-family: "Montserrat Alternates", sans-serif;
}

.display-4 {
  font-weight: 900;
}

.home-text {
  font-style: italic;
}

#pokeball-center {
  color: black;
  background-color: white;
  border: solid black 20px;
  width: 150px;
  border-radius: 50% !important;
  font-size: 63px;
}

.pokeball-center {
  position: relative;
  bottom: -302px;
}

#pokeball-center:focus {
  box-shadow: 0 0 0 0.2rem white;
}

.survey-body {
  background: url(../images/content-bg.png);
  background-repeat: repeat;
}

.pokemon-bg {
  background: url(../images/content-bg-dark.png) !important;
  background-repeat: repeat;
  color: white;
}

.card-body {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 900;
}

.card {
  border-radius: 0;
}

.card-img-top {
  filter: contrast(1.2);
}

.card-title {
  font-weight: 900;
}

#trainerNameFont {
  font-family: "Bungee Shade", cursive;
  font-size: 25px;
}

#footer {
  background: rgb(49, 49, 49);
  color: white;
  text-align: center;
  height: 80px;
  margin-bottom: 0;
  margin-top: 20px;
}

.footer-text {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}
